<html>
<head>
    <title>
        hello
    </title>
</head>
<body>
    <h1>
        Student Greeting!
    </h1>
    <h2>
        version - 1 for greeting controller
    </h2>
    <form th:action="@{\processForm}">
        <input name="studentName" type="text">
        <input type="submit">
    </form>

    <h2>
        version - 2 for greeting's' controller
    </h2>
    <form th:action="@{\processForm2}">
        <input name="studentName" type="text">
        <input type="submit">
    </form>

    <h2>
        version - 3 for greeting's' controller
    </h2>
    <form th:action="@{\processFormV3}">
        <input name="studentName" type="text">
        <input type="submit">
    </form>
</body>
</html>